__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.Python
*.swp
*.swo
*~
.pytest_cache/
.coverage
htmlcov/
.coverage.*
.coverage.xml
.pyup.yml
.bandit
.mypy_cache/
.hypothesis/
.DS_Store
.env
venv/
env/
ENV/
.venv/
env.bak/
.ENV.bak/
.vscode/
.idea/
*.log
__pypackages__/